**7. Балансирвока. Задания.**

Задания по видео 38 - 41.

# Описание задачи

## Информация из предыдущих этапов

**Постановка кейса.**

В рамках практических заданий мы будем работать аналитиком на платформе по подаче объявлений. По результатам исследований мы выяснили, что недавно введенной функцией доставки пользуются редко. В рамках идей по исправлению ситуации была предложена инициатива выдать скидку в 20% на данную услугу, зачеркнув старую цену и написав рядом новую на карточках объявлений, в которых доступна доставка. Нам поставлена задача оценить данную инициативу.

**Метрики.**

По резульатам командного обсуждения было принято назначить целевой метрикой выручку. Прочие метрики, за которыми ваша команда планирует наблюдать: выручка с доставки, пользователи с доставкой, количество ошибок на экранах доставочный айтемов, количество заказов без доставки.

**Критерий.**

По результатам предыдущего исследования наш выбор пал на тест Стьюдента. Предполагаем, что будем использовать его.

**MDE, N, alpha, beta**

По результатам обсуждения с аналитиками и продуктами было принято решение остановиться на ошибках 1 и 2 рода в 1% при MDE в 1.4% для основной метрики. N = 5 mln в каждой группе, длительность эксперимента - 21 день.

**Разбиение на тест-контроль**

Мы реализовали функцию деления выборки на тест-контроль с помощью остатка от деления от хэша id юзера и соли эксперимента. При этом мы модифицировали функцию так, чтобы данные до начала эксперимента не отличались между собой статистически значимо ни по одной метрике.

**Анализ результатов.**

Ваш коллега проанализировал тест, и оказалось, что ни по 1 метрике не обнаружилось статистически значимой разницы. Хотя тестовая группа и выигрывала по целевой и прокси-метрикам, доверительный интервал перекрывал 0, p value был значительно выше 0.05.

Следующим этапом было решено проанализировать наиболее чувствительный сегмент. Ваши коллеги подготовили такую выборку, на которую тестовое воздействие должно было повлиять наибольшим образом. В нее попали те пользователи, что находятся в удаленых регионах и переходили на карточки объявлений с возможностью доставки. То есть этим юзерам актуальна доставка, и они точно видели тестовое воздействие (или потенциально увидели бы его, если речь идет о контроле). Анализ показал, что результат вроде и положительный, но на грании с тем, что вполне могло получиться и случайно.

Далее было решено использовать CUPED для повышения чувствительно, и этот метод показал себя отлично: теперь вы уверены в том, что тестовое воздействие оказало положительный эффект на анализируемый сегмент.

## Текущее задание

Воодушивившись эффектом, который дал CUPED, ваши коллеги попросили вас имплементировать и провалидировать различные методы, связанные с балансировкой данных в тестовой и контрольной группах.

Суммарно можно получить более 10 баллов. Помимо непосредственно заданий есть скрытые баллы, которые можно получить, если писать хороший код и делать то, о чем говорилось на лекциях. При этом оценка будет рассчитываться из расчета, что 10 баллов - это 100% выполнения.

Вам понадобятся данные:
*   task_5: данные за время теста,
*   task_6: данные за время предпредпериода,
*   task_7: данные за время редпериода с сегментами.

# Исследование и валидация стратификации. 6 баллов

## Формулировка

Ваш teamlead'ер впечатлен результатом, который вы получили с помощью CUPED в предыдущем исследовании. В этот раз он просит продолжить вас исследовать методы повышения чувствительности, перейдя к следующему способу, который на слуху у большинства аналитиков - стратификация (балансировка).

Проведите серию синтетических АА и АБ - тестов по аналогии с тем, что мы делали на лекции. Проверьте 4 стратегии стратификации:


*   Отсутствие стратификации
*   Стратифицированное разбиение
*   Подсчет стратифицированного среднего и дисперсий
*   И стратифицированное разбиение, и подсчет стратифицированного среднего

Сначала проделайте это без CUPED для метрики типа города (city_type), а потом для метрики типа активности (activity_type). Далее проделайте аналогичную процедуру с использованием CUPED для каждой из 4-х стратегий. Итого у вас будет 4 таблицы:


*   По city_type без CUPED
*   По activity_type без CUPED
*   По city_type с CUPED
*   По activity_type с CUPED

Каждая таблица должна иметь 4 строки, соответствующие стратегии стратификации:


*   None
*   split
*   mean
*   both

А также - 6 колонок с наблюдаемыми ошибками и границами ДИ (по 3 для АА и АБ -тестов):


*   aa_left - левая граница 95% ДИ для наблюдаемой ошибки 1-го рода
*   aa_significance - наблюдаемая ошибка 1-го рода
*   aa_right - правая граница 95% ДИ для наблюдаемой ошибки 1-го рода
*   ab_left - левая граница %, когда истинный эффект оказался вне 95% ДИ
*   ab_significance - %, когда истинный эффект оказался вне 95% ДИ
*   ab_right - правая граница %, когда истинный эффект оказался вне 95% ДИ

К каждой таблице напишите комментарии и выводы.

Примечания:


*   Используйте абсолютную версию t-теста;
*   Все уровни значимости = 5%;
*   Для каждой из 4-х серий симуляций используйте не менее 5 тысяч итераций;
*   В синтетических АБ-тестах симмулируйте эффект как прибавление к каждому наблюдению 10% от среднего значения метрики.

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
from tqdm import tqdm
from scipy.stats import ttest_ind, norm, mannwhitneyu
from sklearn.model_selection import train_test_split
import statsmodels.stats.api as sms
from statsmodels.stats.proportion import proportion_confint
from collections import namedtuple
experiment_result = namedtuple(
    'experiment_result',
     ['pvalue', 'effect', 'left_bound', 'right_bound'],
)
synthetic_tests_result = namedtuple(
    'synthetic_tests_result',
    ['left_bound', 'significance', 'right_bound'],
)

In [3]:
pre_data = pd.read_csv('task_7.csv')
pre_pre_data = pd.read_csv('task_6.csv')

In [4]:
df_two_periods = pre_data.merge(
    right=pre_pre_data,
    how='inner',
    on='user_id',
    suffixes=['_t1', '_t0'],
    )

In [5]:
df_two_periods.sample(3)

,user_id,revenue_t1,delivery_revenue_t1,has_delivery_t1,error_count_t1,order_wo_delivery_t1,city_type,activity_type,revenue_t0,delivery_revenue_t0,has_delivery_t0,error_count_t0,order_wo_delivery_t0
44880,4645579015,2766.182235,2766.182235,True,0,0,['small'],[1],2769.215046,2766.27,True,0,6
2249,6866900298,0.000000,0.000000,False,0,4,['big'],[0],0.000000,0.00,False,0,1
17772,3759722178,0.000000,0.000000,False,0,4,['big'],[0],0.000000,0.00,False,0,5

Объявим нужные нам функции

In [20]:
def calc_strat_mean(values, labels, weights):
    df = pd.concat([values, labels], axis=1)
    df.columns = ['values', 'labels']
    strat_mean = df.groupby('labels')['values'].mean()
    return (strat_mean * weights).sum()

def calc_strat_var(values, labels, weights):
    df = pd.concat([values, labels], axis=1)
    df.columns = ['values', 'labels']
    strat_var = df.groupby('labels')['values'].var()
    return (strat_var * weights).sum()

def transform_cuped(control, test, control_before, test_before):
    num = np.cov(control, control_before)[0, 1] + np.cov(test, test_before)[0, 1]
    den = np.var(control_before) + np.var(test_before)
    theta = num / den
    control_cup = control - theta * control_before
    test_cup = test - theta * test_before
    return control_cup, test_cup

def absolute_ttest(
    control,
    test,
    control_before=None,
    test_before=None,
    control_labels=None,
    test_labels=None,
    weights=None,
    ci_level=0.05
):
    # CUPED
    if control_before is not None:
        control, test = transform_cuped(
          control=control,
          test=test,
          control_before=control_before,
          test_before=test_before,
        )
    # стратификация
    if control_labels is not None:
        mean_control = calc_strat_mean(control, control_labels, weights)
        mean_test = calc_strat_mean(test, test_labels, weights)
        var_mean_control = calc_strat_var(control, control_labels, weights) / len(control)
        var_mean_test = calc_strat_var(test, test_labels, weights) / len(control)
    else:
        mean_control = np.mean(control)
        mean_test = np.mean(test)
        var_mean_control  = np.var(control) / len(control)
        var_mean_test  = np.var(test) / len(test)
    difference_mean = mean_test - mean_control
    difference_mean_var = var_mean_control + var_mean_test
    difference_distribution = norm(loc=difference_mean, scale=np.sqrt(difference_mean_var))
    left_bound, right_bound = difference_distribution.ppf([ci_level / 2, 1 - ci_level / 2])
    pvalue = 2 * min(difference_distribution.cdf(0), difference_distribution.sf(0))
    effect = difference_mean
    return experiment_result(pvalue, effect, left_bound, right_bound)

def do_synthetic_aa(
    data,
    data_before=None,
    data_labels=None,
    stratify_strategy=None,
    test_size=0.5,
    test_func=absolute_ttest,
    alpha=0.05,
    n_iter=10_000,
):
    """stratify_strategy = None | 'split' | 'mean' | 'both'
    функция принимает np.array или pd.Series,
    после чего проводит синтетические АА-тесты по след. алгоритму:
    - разделить на тест и контроль (доля теста = test_size),
    - провести стат. тест (test_func - absolute_ttest по умолчанию) и записать p value,
    - повторить шаги n_iter (10 тысяч раз по умолчанию),
    - рассчитать % ошибок 1 рода и дов. интервал (относительно уровня alpha),
    - вывести результат и вернуть массив p value (если включен флаг return_pvalues)"""
    p_values = []
    for i in tqdm(range(n_iter)):
        if stratify_strategy in ('split', 'both'):
            control, test = train_test_split(
                data,
                stratify=data_labels,
                test_size=0.5
            )
        else:
            control, test = train_test_split(data, test_size=0.5)
        control_before, test_before = None, None
        if data_before is not None:
            control_before = data_before.loc[control.index]
            test_before = data_before.loc[test.index]
        control_labels, test_labels, weights = None, None, None
        if stratify_strategy in ('mean', 'both'):
            control_labels = data_labels.loc[control.index]
            test_labels = data_labels.loc[test.index]
            weights = data_labels.value_counts() / len(data_labels)
        p_values.append(test_func(
            control=control,
            test=test,
            control_before=control_before,
            test_before=test_before,
            control_labels=control_labels,
            test_labels=test_labels,
            weights=weights,
        ).pvalue)
    p_values = np.array(p_values)
    fte = (p_values <= alpha).sum()
    left_real_level, right_real_level = proportion_confint(
        count=fte,
        nobs=n_iter,
        alpha=alpha,
        method='wilson',
    )
    significance = fte / n_iter
    return synthetic_tests_result(left_real_level, significance, right_real_level)

def do_synthetic_ab(
    data,
    data_before=None,
    data_labels=None,
    stratify_strategy=None,
    potential_effect=0.1,
    test_size=0.5,
    test_func=absolute_ttest,
    alpha=0.05,
    n_iter=10_000,
):
    """stratify_strategy = None | 'split' | 'mean' | 'both'
    функция принимает np.array или pd.Series,
    после чего проводит синтетические АB-тесты по след. алгоритму:
    - разделить на тест и контроль (доля теста = test_size),
    - построить ДИ для разницы средних и записать размер эффекта и записать их,
    - повторить предыдущие шаги n_iter (10 тысяч раз по умолчанию),
    - рассчитать % ошибок 2 рода и дов. интервал (относительно уровня alpha),
    - вернуть значения из предыдущего пункта"""
    left_bounds = []
    right_bounds = []
    absolut_effect = data.mean() * potential_effect
    control_labels, test_labels, weights = None, None, None
    control_before, test_before = None, None
    for i in tqdm(range(n_iter)):
        if stratify_strategy in ('split', 'both'):
            control, test = train_test_split(
                data,
                stratify=data_labels,
                test_size=0.5
            )
        else:
            control, test = train_test_split(data, test_size=0.5)
        test *= 1 + potential_effect
        if data_before is not None:
            control_before = data_before.loc[control.index]
            test_before = data_before.loc[test.index]
        if stratify_strategy in ('mean', 'both'):
            control_labels = data_labels.loc[control.index]
            test_labels = data_labels.loc[test.index]
            weights = data_labels.value_counts() / len(data_labels)
        _, _, left_bound, right_bound = test_func(
            control=control,
            test=test,
            control_before=control_before,
            test_before=test_before,
            control_labels=control_labels,
            test_labels=test_labels,
            weights=weights,
        )
        left_bounds.append(left_bound)
        right_bounds.append(right_bound)
    left_bounds, right_bounds = np.array(left_bounds), np.array(right_bounds)
    ste = ((left_bounds > absolut_effect) | (right_bounds < absolut_effect)).sum()
    left_real_level, right_real_level = proportion_confint(
        count=ste,
        nobs=n_iter,
        alpha=alpha,
        method='wilson',
    )
    significance = ste / n_iter
    return synthetic_tests_result(left_real_level, significance, right_real_level)

Проведение тестов для city_type без CUPED

In [8]:
city_type = pre_data['city_type']
activity_type = pre_data['activity_type']
columns = ['aa_left', 'aa_significance', 'aa_right', 'ab_left', 'ab_significance', 'ab_right']
index = ['None', 'split', 'mean', 'both']

In [17]:
results_city_type_no_cuped = []
for stratify_strategy in [None, 'split', 'mean', 'both']:
    aa_result = do_synthetic_aa(data=pre_data['revenue'], data_labels=city_type, stratify_strategy=stratify_strategy)
    ab_result = do_synthetic_ab(data=pre_data['revenue'], data_labels=city_type, stratify_strategy=stratify_strategy)
    results_city_type_no_cuped.append([aa_result.left_bound, aa_result.significance, aa_result.right_bound, ab_result.left_bound, ab_result.significance, ab_result.right_bound])

df_city_type_no_cuped = pd.DataFrame(results_city_type_no_cuped, columns=columns, index=index)
print("Результаты для city_type без CUPED:")
df_city_type_no_cuped

100%|██████████| 10000/10000 [00:24<00:00, 407.42it/s]
100%|██████████| 10000/10000 [00:27<00:00, 365.84it/s]
100%|██████████| 10000/10000 [04:49<00:00, 34.53it/s]
100%|██████████| 10000/10000 [04:33<00:00, 36.54it/s]
100%|██████████| 10000/10000 [02:10<00:00, 76.83it/s]
100%|██████████| 10000/10000 [02:18<00:00, 72.35it/s]
100%|██████████| 10000/10000 [06:43<00:00, 24.79it/s]
100%|██████████| 10000/10000 [05:48<00:00, 28.69it/s]

Результаты для city_type без CUPED:

,aa_left,aa_significance,aa_right,ab_left,ab_significance,ab_right
None,0.047242,0.0514,0.055903,0.047050,0.0512,0.055695
split,0.046858,0.0510,0.055487,0.045803,0.0499,0.054343
mean,0.044077,0.0481,0.052470,0.041300,0.0452,0.049449
both,0.046282,0.0504,0.054863,0.042353,0.0463,0.050596

### Выводы
- Наши функции T-test и стратификации работают корректно, ошибки находятся в заданных интервалах
- Ни одно преобразование не привело к сильному снижению уровня ошибки первого рода (значительно ниже 5%)

Проведение тестов для activity_type без CUPED

In [18]:
results_activity_type_no_cuped = []
for stratify_strategy in [None, 'split', 'mean', 'both']:
    aa_result = do_synthetic_aa(data=pre_data['revenue'], data_labels=activity_type, stratify_strategy=stratify_strategy)
    ab_result = do_synthetic_ab(data=pre_data['revenue'], data_labels=activity_type, stratify_strategy=stratify_strategy)
    results_activity_type_no_cuped.append([aa_result.left_bound, aa_result.significance, aa_result.right_bound, ab_result.left_bound, ab_result.significance, ab_result.right_bound])

df_activity_type_no_cuped = pd.DataFrame(results_activity_type_no_cuped, columns=columns, index=index)
print("Результаты для activity_type без CUPED:")
df_activity_type_no_cuped

100%|██████████| 10000/10000 [00:21<00:00, 473.55it/s]
100%|██████████| 10000/10000 [00:22<00:00, 439.04it/s]
100%|██████████| 10000/10000 [03:58<00:00, 41.90it/s]
100%|██████████| 10000/10000 [04:36<00:00, 36.13it/s]
100%|██████████| 10000/10000 [01:51<00:00, 89.93it/s]
100%|██████████| 10000/10000 [01:52<00:00, 88.51it/s]
100%|██████████| 10000/10000 [05:58<00:00, 27.93it/s]
100%|██████████| 10000/10000 [06:17<00:00, 26.46it/s]

Результаты для activity_type без CUPED:

,aa_left,aa_significance,aa_right,ab_left,ab_significance,ab_right
None,0.047242,0.0514,0.055903,0.047626,0.0518,0.056318
split,0.031858,0.0353,0.039099,0.032333,0.0358,0.039623
mean,0.041300,0.0452,0.049449,0.047050,0.0512,0.055695
both,0.046762,0.0509,0.055383,0.048106,0.0523,0.056838

### Выводы
- Наши функции T-test и стратификации работают корректно, ошибки находятся в заданных интервалах
- Стратифицированное разбиение привело к снижению уровня ошибки 1 рода, могут возникнуть проблемы с мощностью

Проведение тестов для city_type с CUPED

In [21]:
results_city_type_cuped = []
for stratify_strategy in [None, 'split', 'mean', 'both']:
    aa_result = do_synthetic_aa(data=pre_data['revenue'], data_before=pre_pre_data['revenue'], data_labels=city_type, stratify_strategy=stratify_strategy)
    ab_result = do_synthetic_ab(data=pre_data['revenue'], data_before=pre_pre_data['revenue'], data_labels=city_type, stratify_strategy=stratify_strategy)
    results_city_type_cuped.append([aa_result.left_bound, aa_result.significance, aa_result.right_bound, ab_result.left_bound, ab_result.significance, ab_result.right_bound])

df_city_type_cuped = pd.DataFrame(results_city_type_cuped, columns=columns, index=index)
print("Результаты для city_type с CUPED:")
df_city_type_cuped

100%|██████████| 10000/10000 [00:59<00:00, 167.60it/s]
100%|██████████| 10000/10000 [01:04<00:00, 154.67it/s]
100%|██████████| 10000/10000 [05:41<00:00, 29.32it/s]
100%|██████████| 10000/10000 [05:51<00:00, 28.46it/s]
100%|██████████| 10000/10000 [03:25<00:00, 48.73it/s]
100%|██████████| 10000/10000 [03:06<00:00, 53.64it/s]
100%|██████████| 10000/10000 [07:29<00:00, 22.25it/s]
100%|██████████| 10000/10000 [07:56<00:00, 20.98it/s]

Результаты для city_type с CUPED:

,aa_left,aa_significance,aa_right,ab_left,ab_significance,ab_right
None,0.045419,0.0495,0.053927,0.030813,0.0342,0.037945
split,0.044556,0.0486,0.052991,0.027117,0.0303,0.033844
mean,0.045131,0.0492,0.053615,0.029295,0.0326,0.036264
both,0.043502,0.0475,0.051846,0.031668,0.0351,0.038889

### Выводы
- Наши функции T-test, CUPED и стратификации работают корректно, ошибки находятся в заданных интервалах
- CUPED приводит к некоторому снижению ошибки первого рода в АБ-тестах: они чаще находятся в районе 3% для всех методов

Проведение тестов для activity_type с CUPED

In [23]:
results_activity_type_cuped = []
for stratify_strategy in [None, 'split', 'mean', 'both']:
    aa_result = do_synthetic_aa(data=pre_data['revenue'], data_before=pre_pre_data['revenue'], data_labels=activity_type, stratify_strategy=stratify_strategy)
    ab_result = do_synthetic_ab(data=pre_data['revenue'], data_before=pre_pre_data['revenue'], data_labels=activity_type, stratify_strategy=stratify_strategy)
    results_activity_type_cuped.append([aa_result.left_bound, aa_result.significance, aa_result.right_bound, ab_result.left_bound, ab_result.significance, ab_result.right_bound])

df_activity_type_cuped = pd.DataFrame(results_activity_type_cuped, columns=columns, index=index)

print("Результаты для activity_type с CUPED:")
df_activity_type_cuped

100%|██████████| 10000/10000 [00:58<00:00, 169.96it/s]
100%|██████████| 10000/10000 [01:00<00:00, 164.18it/s]
100%|██████████| 10000/10000 [05:28<00:00, 30.46it/s]
100%|██████████| 10000/10000 [05:40<00:00, 29.36it/s]
100%|██████████| 10000/10000 [03:03<00:00, 54.39it/s]
100%|██████████| 10000/10000 [03:18<00:00, 50.29it/s]
100%|██████████| 10000/10000 [07:17<00:00, 22.84it/s]
100%|██████████| 10000/10000 [07:56<00:00, 20.98it/s]

Результаты для activity_type с CUPED:

,aa_left,aa_significance,aa_right,ab_left,ab_significance,ab_right
None,0.045994,0.0501,0.054551,0.026644,0.0298,0.033317
split,0.043215,0.0472,0.051533,0.029105,0.0324,0.036054
mean,0.048394,0.0526,0.057150,0.033379,0.0369,0.040776
both,0.047146,0.0513,0.055799,0.029864,0.0332,0.036895

### Выводы
- Наши функции T-test, CUPED и стратификации работают корректно, ошибки находятся в заданных интервалах
- CUPED приводит к некоторому снижению ошибки первого рода в АБ-тестах: они чаще находятся в районе 3% для всех методов

# Переоценка теста с помощью стратификации. 4 балла

## Формулировка

Сделайте оценку результатов теста 4-мя способами:


1.   Абсолютным t-тестом
2.   Абсолютным t-тестом с пост-стратификацией по activity_type
3.   Абсолютным t-тестом с CUPED
4.   Абсолютным t-тестом с CUPED + пост-стратификацией

Для каждого способа выведите таблицу, где строки - это метрики, а столбцы -

*   p value,
*   размер эффекта,
*   нижняя граница 95% ДИ,
*   верхняя граница 95% ДИ.

После этого рассчитайте для каждого из 3-ех способов повышения чувствительности, на сколько % сократилась ширина 95% ДИ. Выведите таблицу, где строки - это метрики, столбцы - это способ повышения чувствительности, а в ячейках содержится %, накоторой удалось сократить ДИ.

Прокомментируйте получившиеся результаты и сделайте выводы.

In [24]:
period = pd.read_csv('task_5.csv')

In [28]:
df_two_periods = df_two_periods.merge(
    right=period,
    how='inner',
    on='user_id',
    suffixes=['', '_t2'],
)

metrics = [
    'revenue',
    'delivery_revenue',
    'has_delivery',
    'error_count',
    'order_wo_delivery'
]

results = {
    'metric': [],
    'method': [],
    'p_value': [],
    'effect': [],
    'ci_low': [],
    'ci_high': []
}

In [30]:
for metric in metrics:
    test = df_two_periods[df_two_periods['is_test']][f"{metric}_t2"]
    control = df_two_periods[~df_two_periods['is_test']][f"{metric}_t2"]
    control_before = df_two_periods.loc[control.index][f"{metric}_t1"]
    test_before = df_two_periods.loc[test.index][f"{metric}_t1"]
    activity_type = df_two_periods.loc[control.index]['activity_type']

    # Абсолютный t-тест
    pvalue, effect, ci_low, ci_high = absolute_ttest(control, test, ci_level=0.05)
    results['metric'].append(metric)
    results['method'].append('absolute_ttest')
    results['p_value'].append(pvalue)
    results['effect'].append(effect)
    results['ci_low'].append(ci_low)
    results['ci_high'].append(ci_high)

    # Абсолютный t-тест с пост-стратификацией
    data_labels=df_two_periods['activity_type']
    control_labels = data_labels.loc[control.index]
    test_labels = data_labels.loc[test.index]
    weights = data_labels.value_counts() / len(data_labels)
    pvalue, effect, ci_low, ci_high = absolute_ttest(
        control=control,
        test=test,
        control_labels=control_labels,
        test_labels=test_labels,
        weights=weights,
        ci_level=0.05)
    results['metric'].append(metric)
    results['method'].append('absolute_ttest_stratified')
    results['p_value'].append(pvalue)
    results['effect'].append(effect)
    results['ci_low'].append(ci_low)
    results['ci_high'].append(ci_high)

    # Абсолютный t-тест с CUPED
    pvalue, effect, ci_low, ci_high = absolute_ttest(
        control=control,
        test=test,
        control_before=control_before,
        test_before=test_before,
        ci_level=0.05)
    results['metric'].append(metric)
    results['method'].append('absolute_ttest_cuped')
    results['p_value'].append(pvalue)
    results['effect'].append(effect)
    results['ci_low'].append(ci_low)
    results['ci_high'].append(ci_high)

    # Абсолютный t-тест с CUPED и пост-стратификацией
    pvalue, effect, ci_low, ci_high = absolute_ttest(
        control=control,
        test=test,
        control_before=control_before,
        test_before=test_before,
        control_labels=control_labels,
        test_labels=test_labels,
        weights=weights,
        ci_level=0.05)
    results['metric'].append(metric)
    results['method'].append('absolute_ttest_cuped_stratified')
    results['p_value'].append(pvalue)
    results['effect'].append(effect)
    results['ci_low'].append(ci_low)
    results['ci_high'].append(ci_high)


results_df = pd.DataFrame(results)

results_df['ci_width'] = results_df['ci_high'] - results_df['ci_low']

ci_width_comparison = results_df.pivot(index='metric', columns='method', values='ci_width')
ci_width_comparison['absolute_ttest_stratified_reduction'] = (ci_width_comparison['absolute_ttest'] - ci_width_comparison['absolute_ttest_stratified']) / ci_width_comparison['absolute_ttest'] * 100
ci_width_comparison['absolute_ttest_cuped_reduction'] = (ci_width_comparison['absolute_ttest'] - ci_width_comparison['absolute_ttest_cuped']) / ci_width_comparison['absolute_ttest'] * 100
ci_width_comparison['absolute_ttest_cuped_stratified_reduction'] = (ci_width_comparison['absolute_ttest'] - ci_width_comparison['absolute_ttest_cuped_stratified']) / ci_width_comparison['absolute_ttest'] * 100

results_df

,metric,method,p_value,effect,ci_low,ci_high,ci_width
0,revenue,absolute_ttest,6.039983e-02,7.167837,-0.313379,14.649052,14.962431
1,revenue,absolute_ttest_stratified,8.999903e-02,5.989836,-0.934691,12.914363,13.849055
2,revenue,absolute_ttest_cuped,8.940013e-26,6.765925,5.502585,8.029265,2.526680
3,revenue,absolute_ttest_cuped_stratified,8.376983e-26,6.747540,5.488369,8.006710,2.518341
4,delivery_revenue,absolute_ttest,3.055314e-01,1.797949,-1.641212,5.237109,6.878322
5,delivery_revenue,absolute_ttest_stratified,3.863118e-01,1.483660,-1.872955,4.840275,6.713230
6,delivery_revenue,absolute_ttest_cuped,7.854481e-02,2.219209,-0.253272,4.691690,4.944962
7,delivery_revenue,absolute_ttest_cuped_stratified,9.382269e-02,2.094770,-0.355546,4.545086,4.900633
8,has_delivery,absolute_ttest,2.173804e-02,0.003329,0.000486,0.006171,0.005686
9,has_delivery,absolute_ttest_stratified,3.324351e-02,0.002918,0.000232,0.005604,0.005372
10,has_delivery,absolute_ttest_cuped,6.336051e-14,0.004640,0.003427,0.005852,0.002425
11,has_delivery,absolute_ttest_cuped_stratified,7.505511e-14,0.004604,0.003397,0.005810,0.002413
12,error_count,absolute_ttest,4.925990e-01,0.008448,-0.015682,0.032578,0.048260
13,error_count,absolute_ttest_stratified,4.923701e-01,0.008435,-0.015646,0.032517,0.048163
14,error_count,absolute_ttest_cuped,6.735382e-01,0.001089,-0.003977,0.006155,0.010133
15,error_count,absolute_ttest_cuped_stratified,6.738629e-01,0.001086,-0.003971,0.006143,0.010115
16,order_wo_delivery,absolute_ttest,6.790769e-01,-0.010668,-0.061204,0.039869,0.101072
17,order_wo_delivery,absolute_ttest_stratified,6.679264e-01,-0.011044,-0.061500,0.039412,0.100912
18,order_wo_delivery,absolute_ttest_cuped,7.264104e-01,-0.005737,-0.037870,0.026396,0.064266
19,order_wo_delivery,absolute_ttest_cuped_stratified,7.143819e-01,-0.005991,-0.038073,0.026092,0.064164

In [33]:
results_df.style.format(
    '{:.3f}',
    subset=['p_value', 'effect', 'ci_low', 'ci_high', 'ci_width']
    ).highlight_null(
        color="gray",
    ).background_gradient(
        axis='columns',
        subset=['p_value'],
        cmap='Reds',
        vmin=0.05,
        vmax=0.2
    ).background_gradient(
        cmap='Blues', 
        axis='columns',
        subset=['ci_width']
    )

In [40]:
print("\nСравнение ширины доверительного интервала:")
ci_width_comparison[['absolute_ttest_stratified_reduction', 'absolute_ttest_cuped_reduction', 'absolute_ttest_cuped_stratified_reduction']].style.format('{:.3f}')

Сравнение ширины доверительного интервала:

### Выводы
- Эффект на выручку есть только в CUPED вариациях. Использование CUPED значительно снижает ширину доверительного интервала (таблица 2).
- В нашем случае снижение ширины доверительного интервала достигалось в первую очередь за счёт применения CUPED, изменения от стратификации были незначительными.